{% extends "base.html" %}

{% block content %}
<div class="welcome-text">
    <h2>Зарегистрируйтесь и станьте Тайным Сантой,
        <br>получите и подарите подарок!</h2>
</div>
<div class="change_uni">
    <form action="#" onsubmit="return changeUni(this);">
        <h4>Введите аббревиатуру вашего вуза:</h4>
        <div class="clearfix input-but-wrap">
            <div class="input-wrap left">
                <input type="text" placeholder="Аббревиатура вашего вуза..." autofocus name="vuz" autocomplete=off>
            </div>
            <div class="but-wrap welcome-but-wrap left">
                <button class="main-button">Ок!</button>
            </div>
        </div>
    </form>
    <div class="results" id="se-results"></div>
</div>
{% endblock content %}
