{% extends "base.html" %}

{% block content %}
<div class="welcome-text" style="font-size: x-large;">
    <h1>Спасибо за регистрацию, Санта!</h1>
    <h2>Осталось лишь подтвердить регистрацию на почте.
        <br> Если письмо не пришло, обязательно проверьте папку «Спам».
        <br>
        <br> А за развитием событий следите в ВКонтакте</h2>
    <div class="social">
        <div class="vk">
            <a href="http://vk.com/t_santa" target="blank"></a>
        </div>
    </div>
</div>
{% endblock content %}
