// ---------------------------------------------------------------
//  Modules -> Base
// ---------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix {
  .clearfix();
}
.left{
  float: left;
}
.right{
  float: right;
}
.area{
  width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  .clearfix;
  padding-top: 70px;
  padding-bottom: 50px;
}