<form role="form" name="taskform" ng-submit="saveTask()" novalidate>
  <div class="form-group">
    <label for="title">Заголовок задачи*</label>
    <input type="text" class="form-control"
          name="title"
          placeholder="Введите заголовок"
          ng-autofocus="(true)"
          autocomplete="off"
          ng-model="task.title"
          required>
  </div>
  <div class="form-group">
    <label for="text">Описание задачи*</label>
    <textarea class="form-control tarea"
              name="description"
              placeholder="Введите описание задачи"
              ng-model="task.description"
              required></textarea>
  </div>
  <div class="form-group">
    <label for="text">Исходные данные*</label>
    <textarea class="form-control tarea"
              name="initial_data"
              placeholder="Введите исходные данные"
              ng-model="task.initial_data"
              required></textarea>
  </div>
  <div class="form-group">
    <label for="text">Результат*</label>
    <textarea class="form-control tarea"
              name="result"
              placeholder="Введите результат задачи"
              ng-model="task.result"
              required></textarea>
  </div>
  <div class="form-group">
    <label for="text">Ограничение по времени на тест (секунд)*</label>
    <input type="number" class="form-control"
          name="timelimit"
          placeholder="Введите ограничение в секундах"
          autocomplete="off"
          ng-model="task.timelimit"
          required>
  </div>
  <div class="form-group">
    <label>Примеры*</label>
    <div class="tests">
      <div class="row test-item" ng-repeat="i in getArray(numOfExamples) track by $index">
        <div class="col-xs-6">
          <textarea class="form-control tarea no-resize"
            ng-model="task.examples[$index]['text']"
            placeholder="Входные данные" required></textarea>
        </div>
        <div class="col-xs-5">
          <textarea class="form-control tarea no-resize"
            ng-model="task.examples[$index]['answer']"
            placeholder="Выходные данные" required></textarea>
        </div>
        <div class="col-xs-1 t-a-r">
          <span class="glyphicon glyphicon-remove item-delete"
            uib-tooltip="Удалить пример" ng-click="deleteExample($index)"></span>
        </div>
      </div>
    </div>
    <a href="#" id="add-test-link" ng-click="numOfExamples = numOfExamples + 1">Добавить Пример</a>
  </div>
  <div class="form-group">
    <label for="text">Примечания</label>
    <textarea class="form-control tarea"
              name="notes"
              placeholder="Введите примечания"
              ng-model="task.notes"></textarea>
  </div>
  <div class="form-group">
    <div>
      <label>Тесты*</label>
      <span class="test-edit-tabs-links">
        <a href="#" ng-class="(codeTab) ? '' : 'active'"
          ng-click="codeTab = false">Текстовые</a>
        <a href="#" ng-class="(codeTab) ? 'active' : ''"
          ng-click="codeTab = true">Генерация кодом</a>
      </span>
    </div>
    <div ng-hide="codeTab">
      <div class="tests" id="tests-box">
        <div class="row test-item" ng-repeat="i in getArray(numOfTests) track by $index">
          <div class="col-xs-6">
            <textarea class="form-control tarea no-resize"
              ng-model="task.tests[$index]['text']"
              placeholder="Тест" required></textarea>
          </div>
          <div class="col-xs-5">
            <textarea class="form-control tarea no-resize"
              ng-model="task.tests[$index]['answer']"
              placeholder="Ответ" required></textarea>
          </div>
          <div class="col-xs-1 t-a-r">
            <span class="glyphicon glyphicon-remove item-delete"
              uib-tooltip="Удалить тест" ng-click="deleteTest($index)"></span>
          </div>
        </div>
      </div>
      <a href="#" id="add-test-link" ng-click="numOfTests = numOfTests + 1">Добавить тест</a>
    </div>
    <div ng-show="codeTab">
      <div class="tests">
        <div ng-show="has_error_codegen">
          <p class="pre-line testgenerate-error">{{ error_msg }}</p>
        </div>
        <div class="task-area-wrapper">
          <textarea class="task-area" ui-codemirror="codeMirror"
            ng-model="source" ng-disabled="sent"></textarea>
        </div>
        <div class="form-group btn-area">
          <button class="btn btn-success"
            ng-click="generateTests($event)"
            ng-disabled="generateForm.$invalid || sent">Сгенерировать тесты</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group btn-area-grey">
    <button type="submit" class="btn btn-success"
      ng-disabled="taskform.$invalid">Сохранить</button>
  </div>
</form>
