<h2>Добро пожаловать на EduJudge!</h2>
<p><strong>EduJudge</strong> - это платформа с разнообразными задачами на программирование. Её особенность в том, что помимо автоматических тестов, программы проверяет преподаватель.</p>
<p>Версия платформы: <strong ng-bind="judge_version"></strong></p>

<hr class="section">

<h3>Как работать на платформе</h3>
<ol>
<li>На странице <a href="/tasks">списка задач</a> представлен список решенных и нерешенных задач. Выбирайте любую и в бой.</li><li>Решать задачи можно на языке <strong>Python</strong>. В качестве средства для ввода исходных данных используется стандартный ввод. Рассмотрим работу на примере решения элементарной задачи сложения двух чисел</li></ol>
<pre><code class="python">a, b = map(int, input().strip().split(&#39; &#39;))
print(a + b)
</code></pre>
<p>Данная программа:</p>
<ul>
  <li>считывает одну строку с помощью функции <code>input</code></li>
  <li>убирает лишние символы с обоих концов строки с помощь <code>strip</code></li>
  <li>создает список из двух элементов по разделителю <em>пробел</em>: <code>split(&#39; &#39;)</code></li>
  <li>приводит строки к типу <code>int</code> с помощью функции <code>map</code></li>
  <li>выводит результат в стандартный вывод с помощью <code>print</code></li>
</ul>

<p>Рассмотрим другой вариант ввода, когда нужно прочитать большое количество строк. Для этого целесообразно использовать модуль <code>sys</code></p>
<pre><code class="python">from sys import stdin

for line in stdin:
    # do some work with line
</code></pre>
