<div ng-show="task">
  <h2>{{ task.id }}. {{ task.title }}
    <small ng-show="alienPage">(задание студента <a ng-href="/users/{{ username }}">{{ username }}</a>)</small>
  </h2>
  <div>
    <h3>Описание</h3>
    <p mathjax-bind="task.description" class="pre-line"></p>
  </div>
  <div>
    <h3>Исходные данные</h3>
    <p mathjax-bind="task.initial_data" class="pre-line"></p>
  </div>
  <div>
    <h3>Результат</h3>
    <p mathjax-bind="task.result" class="pre-line"></p>
  </div>
  <div>
    <h3>Ограничения</h3>
      <ul>
        <li>Ограничение по времени - {{ task.timelimit }} сек.</li>
      </ul>
  </div>
  <div>
    <h3>Примеры</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Исходные данные</th>
          <th>Выходные данные</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="example in task.examples">
          <td><p class="pre-line">{{ example.text }}</p></td>
          <td><p class="pre-line">{{ example.answer }}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="task.notes">
    <h3>Примечания</h3>
    <p mathjax-bind="task.notes" class="pre-line"></p>
  </div>
  <div ng-hide="alienPage">
    <h3>Отправить решение</h3>
    <div ng-show="result" class="solution-result">
      <h4>{{ result.error_description }}</h4>
      <div ng-show="result.testnum > 0">
        <h5>Ошибка на тесте - {{ result.testnum }}</h5>
        <br>
      </div>
      <div ng-show="result.test">
        <b>Входные данные:</b>
        <blockquote class="input-data">
          <p class="pre-line">{{ result.test }}</p>
        </blockquote>
      </div>
      <div ng-show="result.verdict">
        <b ng-show="result.error == 0">Вердикт:</b>
        <b ng-show="result.error > 0">Вывод:</b>
        <blockquote class="input-data">
          <p class="pre-line">{{ result.verdict }}</p>
        </blockquote>
      </div>
    </div>
    <div class="task-area-wrapper">
      <textarea class="task-area" ui-codemirror="codeMirror"
        ng-model="source" ng-disabled="sent"></textarea>
    </div>
    <div class="form-group btn-area">
      <button class="btn btn-success"
        ng-click="checkTask()"
        ng-disabled="!source || sent">Отправить на проверку</button>
    </div>
  </div>
  <div ng-show="solutions">
    <h3>Последние решения</h3>
    <uib-accordion close-others="(false)">
      <div uib-accordion-group class="panel-default"
        ng-repeat="solution in solutions">
        <uib-accordion-heading>
          <span ng-class="solved_statuses[(solution.error > 0) ? '0' : 1]" aria-hidden="true"></span>
          <span>#{{ solution.id }} {{ solution.error_description }}</span>
          <small>{{ solution.time }}</small>
        </uib-accordion-heading>
        <div ng-show="solution.testnum > 0">
          <h4>Ошибка на тесте - {{ solution.testnum }}</h4>
          <br>
        </div>
        <div ng-show="solution.test">
          <b>Входные данные:</b>
          <blockquote class="input-data">
            <p class="pre-line">{{ solution.test }}</p>
          </blockquote>
        </div>
        <div ng-show="solution.verdict">
          <b ng-show="solution.error == 0">Вердикт:</b>
          <b ng-show="solution.error > 0">Вывод:</b>
          <blockquote class="input-data">
            <p class="pre-line">{{ solution.verdict }}</p>
          </blockquote>
        </div>
        <div uib-dropdown>
          <a href="#" class="good-link"
            ng-click="solution.sourceCollapsed = !solution.sourceCollapsed">Исходный код</a>
          <pre class="input-data"
            uib-collapse="!solution.sourceCollapsed">{{ solution.source }}</pre>
        </div>
      </div>
    </uib-accordion>
  </div>
  <div>
    <h3>Обсуждение</h3>
    <div ng-controller="taskCommentsCtrl">
      <form name="commentForm" novalidate ng-submit="saveComment()">
        <div class="form-group">
          <textarea class="form-control no-resize"
            rows="3" placeholder="Ваш комментарий"
            ng-model="comment"
            required></textarea>
        </div>
        <button type="submit" class="btn btn-success"
          ng-disabled="commentForm.$invalid">Отправить</button>
      </form>
      <div class="comment-items">
        <div class="comment-item clearfix pos-rel" ng-repeat="comment in comments">
          <div ng-hide="comment.deleted">
            <span ng-show="comment.user.username == currentUser"
              class="glyphicon glyphicon-remove comment-delete"
              uib-tooltip="Удалить"
              ng-click="deleteComment(comment.id)"></span>
            <div class="pull-left userpic">
              <img src="/static/images/user_small.jpg">
            </div>
            <div class="pull-left usercontent">
              <div>
                <strong><a ng-href="/users/{{ comment.user.username }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></strong>
              </div>
              <p class="pre-line">{{ comment.text }}</p>
              <p class="grey"><small>{{ comment.time }}</small></p>
            </div>
          </div>
          <div ng-show="comment.deleted">
            <p class="comment-deleted">Комментарий удален</p>
          </div>
        </div>
        <div class="comment-items" ng-hide="comments">
          Еще никто ничего не написал.
        </div>
      </div>
    </div>
  </div>
</div>
