<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="/static/images/user.jpg" class="user-profile-image">
    </div>
    <div class="col-sm-9">
      <div>
        <p>
          <strong>{{ user.first_name }} {{ user.last_name }}</strong>
          <small class="grey" ng-show="user.is_staff">преподаватель</small>
        </p>
      </div>
      <hr>
      <div>
        <p>
          Прогресс по задачам
        </p>
        <div class="clearfix progress-bar-wrapper">
            <span ng-switch on="alienPage && ! user.is_staff">
              <span ng-switch-when="true">
                <a ng-class="solved_statuses[task.solved]"
                  uib-tooltip="{{ task.id }}. {{ task.title }}"
                  ng-repeat="task in tasks"
                  ng-href="/tasks/{{ task.id }}?username={{ user.username }}"></a>
              </span>
              <span ng-switch-when="false">
                <a ng-class="solved_statuses[task.solved]"
                  uib-tooltip="{{ task.id }}. {{ task.title }}"
                  ng-repeat="task in tasks"
                  ng-href="/tasks/{{ task.id }}"></a>
              </span>
            </span>
        </div>
      </div>
      <div ng-show="students">
        <hr>
        <p>Студенты</p>
        <div>
          <ul>
            <li ng-repeat="student in students">
              <a ng-href="/users/{{ student.username }}">{{ student.first_name }} {{ student.last_name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
