{% extends "base.html" %}

{% block content %}
<div class="welcome-text">
    <h2>Зарегистрируйтесь и станьте Тайным Сантой,
        <br>получите и подарите подарок!</h2>
</div>
<div class="results" id="se-results" style="margin-bottom:50px;">
</div>
<div class="change_uni">
    <form action="#" onsubmit="return changeUni(this);">
        <h3>Введите аббревиатуру вашего вуза:</h3>
        <input type="text" placeholder="Аббревиатура вашего вуза..." autofocus name="vuz" autocomplete=off>
        <div class="but-wrap welcome-but">
            <button class="main-button">Зарегистрироваться</button>
        </div>
    </form>
</div>
<p align='center' style="font-family:Underdog; color:rgb(183,16,67); font-size:40px"><b>Ваши фото!</b></p>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?150"></script>
<div id="slider" style="margin-left:10%;">
    <ul class="slides">
    
    <li id="first" class="slide slide1 firstanimation">
     <figure class="DOT171116">
      <IMG SRC="/static/images/slider/96336.jpg"> 
     </figure>
     </li>
    
    <li id="second" class="slide slide2 secondanimation">
     <figure class="DOT171116">
      <IMG SRC="/static/images/slider/-.jpg">
     <figcaption class="c96336">
    Нарядный Санта и его подопечный
    </figcaption> 
     </figure>
     </li>
    
    <li id="third" class="slide slide3 thirdanimation">
     <figure class="DOT171116">
      <IMG SRC="/static/images/slider/96336-3.jpg"> 
     </figure>
     </li>
    
    <li id="fourth" class="slide slide4 fourthanimation">
     <figure class="DOT171116">
      <IMG SRC="/static/images/slider/--1.jpg">
     <figcaption class="c96336">
    Моим Сантой оказалась моя одногруппница! Это было неожиданно и безумно приятно)
    </figcaption> 
     </figure>
     </li>
    
    <li id="fifth" class="slide slide5 fifthanimation">
     <figure class="DOT171116">
      <IMG SRC="/static/images/slider/--2.jpg">
     <figcaption class="c96336">
    Слева направо: Санта и та, кто хорошо себя вела в этом году :)
    </figcaption> 
     </figure>
     </li>
    
    <li class="slide slide1">
     <figure class="DOT171116">
      <IMG SRC="/static/images/slider/96336.jpg"> 
     </figure>
     </li>
    
    </ul></div></div></div>
    </div></div>
    <br style="clear: both;" />
    <p  style="float:left ;margin-top:12%; font-family:Underdog; color:rgb(183,16,67); font-size:40px"><b>Следите за<br> нами<br> Вконтакте!</b></p>    
<!-- VK Widget -->
<div style="float:right; margin:0% 5% 0% 0%" id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, no_cover: 1, width: "700", height: "750"}, 62775353);
</script>
{% endblock content %}
