// ---------------------------------------------------------------
//  Modules -> Base
// ---------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix {
  .clearfix();
}
.left{
  float: left;
}
.right{
  float: right;
}

.area{
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;

  background-image:url(../../images/olen3.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}