<!DOCTYPE html>
<html lang="en" ng-app="judge">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}TSANTA{% endblock %}</title>

<base href="/">

<!-- Styles -->
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css?v={{ app_version }}">

<!-- Scripts -->
<script type="text/javascript">
let judge = {
  api: `${location.protocol}//${location.hostname}:${location.port}/api`,
  version: '{{ app_version }}'
};
</script>
<script src="/static/angular.min.js"></script>
<script src="/static/angular-route.min.js"></script>
<script src="/static/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="/static/app.js?v={{ app_version }}"></script>
</head>
<body ng-controller="baseCtrl">
  <div class="messenger" ng-show="status_message" ng-bind="status_message"></div>
  <div class="nav-wrapper-self" ng-controller="headerCtrl">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">EduJudge</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="container main">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
